@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

:root {
  --black-color: #272042;
  --gray-color: #fbe0dc;
  --yellow-color: #f7c531;
  --muted-color: #8b8ba5;
}

// Typography

.h2 {
  font-size: 46px !important;
  font-weight: bold;
}

.h3 {
  font-size: 32px !important;
  font-weight: bold;
}

.text-muted {
  color: var(--muted-color) !important;
  font-size: 20px !important;
}

// Button

.btn-custom {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn-gray {
  background-color: var(--gray-color) !important;
}

.btn-yellow {
  background-color: var(--yellow-color) !important;
  padding: 7px 30px;
}

// Card

.card-food {
  position: relative;
  text-decoration: none;

  .img {
    position: relative;
    img {
      transition: all 0.3s;
    }

    .hover {
      transition: all 0.3s;
      position: absolute;
      display: flex;
      opacity: 0;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .card-title {
    font-size: 22px;
    color: var(--black-color);
    font-weight: 500;
  }
  .card-chef {
    color: var(--muted-color);
    font-size: 16px;
  }
  .star {
    color: var(--yellow-color);
  }

  &:hover {
    .img {
      img {
        filter: brightness(0.8);
      }
      .hover {
        opacity: 1;
      }
    }
  }
}

section {
  margin: 5rem 0 !important;
}

#section-testimony {
  .testimony {
    font-size: 26px;
    color: var(--black-color);
    text-align: center;
  }
  .username {
    font-size: 20px;
    font-weight: 500;
    color: var(--black-color);
  }
  .job {
    color: var(--muted-color);
  }
}

#section-about {
  text-align: center;

  .item {
    padding: 30px;
  }
  .value {
    font-weight: bold;
    color: var(--black-color);
    font-size: 26px;
  }
  .text {
    color: var(--muted-color);
    font-size: 16px;
  }
}
